In [2]:
import pandas as pd

In [31]:
unis = pd.read_csv('./UniversitiesWorld1000.tab', sep='\t', header = None, usecols=[1])

In [32]:
unis.head()

                                       1
0                     Harvard University
1                    Stanford University
2  Massachusetts Institute of Technology
3                University of Cambridge
4                   University of Oxford

In [34]:
unis.to_csv("./UniversitiesWorldNames1000.csv", index=False)